@import "tailwindcss";

:root {
  --background: #FFFAEE;
  --foreground: #171717;
  --primaryRed: #FC7B69; 
  --mint: #A8E6CF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', 'Helvetica Neue', Arial, sans-serif;
}

.bg-primaryRed{
  background-color: var(--primaryRed);
}

button:hover {
  filter: brightness(110%);
}

.bg-mint{
  background-color: var(--mint);
}